.searchFilterContainer {
    padding-bottom: 1rem;
    border-bottom: 3px solid white;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-inline: 6rem;
}

.searchFilterContainer input {
    font: inherit;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    outline: none;
}

.searchFilterContainer .filterDiv {
    display: flex;
    width: auto;
    gap: 10px;
    padding: 5px;
}

.searchFilterContainer .filterDiv .removeFilterSpan {
    margin-block: auto;
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 1px 10px;
    cursor: pointer;

}

.searchFilterContainer .filterDiv .spanDiv {
    width: auto;
    display: flex;
    height: auto;
    overflow-x: auto;
}

.searchFilterContainer .filterDiv .spanDiv span {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-inline: 5px;
    cursor: pointer;
}


.searchFilterContainer .filterDiv .spanDiv .active {
    background-color: white;
    color: rgb(39, 43, 51);
}

.searchFilterContainer .filterDiv select {
    font: inherit;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    outline: none;
}

.searchFilterContainer .filterDiv option {
    background-color: rgb(39, 43, 51);
    color: white;
}

@media screen and (max-width: 600px) {
    .searchFilterContainer {
        margin-inline: 10px;
        flex-direction: column-reverse;
    }

    .searchFilterContainer .filterDiv {
        margin-top: 10px;
        width: 100%;
        max-width: 100%;
    }

    .searchFilterContainer .filterDiv input {
        width: 30%;
    }

    .searchFilterContainer .filterDiv .spanDiv span {
        padding: 0.5rem 0.5rem;
        border-radius: 18px;
        margin-inline: 3px;
        cursor: pointer;
        font-size: small;
    }
}